.zef_content_verse_id, .zef_content_verse_text
{
	float:left;	
}
.zef_content_verse_id
{
 	margin-right:3px;
	/*color:#F00;	*/
	font-size:10px;
}
.zef_content_verse_text
{
	width:95%;	
}
.zef_content_title
{
	font-weight:bold;
}
.zef_content_verse
{
	/*border: 1px solid #705132;*/
	border-radius:10px;
	overflow:hidden;
}
.zef_content_title
{
	padding-left:10px;
}
.zef_content_verse .odd, .zef_content_verse .even
{
	padding-left:5px;
	padding-right:5px;
}
.zef_content_subtitle
{
	font-weight:bold;
}
 
.zefania-tip {
   	float: left;
	background:#EFE7D9;
   	border: 1px solid #D4D5AA;
  	max-width:500px;
	z-index:1000;
   	max-height:300px;
	overflow:auto;
	display: inline;
	color: black;
	font-family: Arial,Helvetica,serif;
	font-size: 14px;
	line-height: 16px;   
}
.hasTip-zefania
{
	color: #06C;
	border-bottom:1px dotted #000;
}
.zefania-tip .odd
{
 	background:none;
}
.zefania-tip .zef_content_title
{
	background: #D6DD21;
	color: black;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	font-family: Arial,Helvetica,serif;
	margin: 0;
	padding: 4px;
	position: relative;
	border: 0;
}
.zefania-tip .tip-text
{
	background: #F8F8F9;
}
.zef_conent_clear
{
	clear:both;
	height:1px;	
}
.ui-dialog .ui-dialog-titlebar-close
{
	background-position: -96px -128px ;
    background-image: url("/plugins/content/zefaniascripturelinks/helpers/ui-icons_888888_256x240.png");
    width: 16px;
    height: 16px;	
	overflow: hidden;
}
.ui-widget-header
{
	background-color:#999 !important;
	background:#999 !important;
}
.ui-widget-content
{
	background-color:#FFF !important;
	background:#FFF !important;
}
.ui-widget-overlay
{
	background:none !important;
}

.zef_modal
{
	font-size:1.3em !important;
}
.zef_modal .zef_scripture div
{
	float:left;
	margin-right:3px;
}
.zef_modal .zef_alias, .zef_modal .zef_scripture
{
	margin-top:5px;	
}
#zef_button_begin_chap, #zef_button_begin_verse, #zef_button_end_chap, #zef_button_end_verse
{
	max-width:25px;	
}
.zef_modal label
{
	display:inline !important;
}
.popover {
  max-width: 600px !important;
  width: auto !important;
}