#zef_week_reading, #zef_week_reading-links
{
	float:left;	
}
#zef_week_reading-links
{
	margin-left:10px;
}
#zef_calendar_icon
{
	height:34px;
	width:34px;
	float:left;
	background:url(../images/calendaralt.png) no-repeat;	
}
#zef_calendar_icon-2
{
	height:34px;
	width:34px;
	float:left;	
	background:url(../images/calendar.png) no-repeat;
}
#zef_calendar_icon-3
{
	height:34px;
	width:34px;
	float:left;	
	background:url(../images/calendar6.png) no-repeat;
}
#zef_calendar_icon-4
{
	height:34px;
	width:34px;
	float:left;	
	background:url(../images/calendar3.png) no-repeat;
	margin-bottom:3px;
}
#zef_week_month
{
	color:#FFFFFF;
	margin-top:-5px;
	font-size:10px;
	font-weight:bold;	
	text-align:center;

}
#zef_week_date
{
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
#zef_week_reading
{
	padding-left:5px;	
}

