<?xml version="1.0" encoding="utf-8"?>


<config>

	<fieldset name="configuration"
			label="ZEFANIABIBLE_CONFIG_COMPONENT_CONFIGURATION"
			description="ZEFANIABIBLE_CONFIG_COMPONENT_CONFIGURATION_1"
			addfieldpath="/administrator/components/com_zefaniabible/models/fields">

		<field name="upload_maxsize"
				label="ZEFANIABIBLE_FIELD_UPLOAD_MAX_SIZE"
				filter="STRING"
				description="ZEFANIABIBLE_FIELD_UPLOAD_MAX_SIZE_INFORMATION"
				type="cktext"/>

		<field name="trash_dir"
				label="ZEFANIABIBLE_FIELD_TRASH_DIR"
				filter="STRING"
				description="ZEFANIABIBLE_FIELD_TRASH_DIR_INFORMATION"
				type="cktext"/>

		<field name="upload_dir_biblenames_xml_bible_file_location"
				label="ZEFANIABIBLE_FIELD_UPLOAD_DIR_BIBLE_NAMES_XML_BIBLE_FILE_LOCATION"
				filter="STRING"
				description="ZEFANIABIBLE_FIELD_UPLOAD_DIR_INFORMATION"
				type="cktext"/>

		<field name="upload_dir_biblenames_xml_audio_file_location"
				label="ZEFANIABIBLE_FIELD_UPLOAD_DIR_BIBLE_NAMES_XML_AUDIO_FILE_LOCATION"
				filter="STRING"
				description="ZEFANIABIBLE_FIELD_UPLOAD_DIR_INFORMATION"
				type="cktext"/>

		<field name="upload_dir_zefaniacomment_file_location"
				label="ZEFANIABIBLE_FIELD_UPLOAD_DIR_ZEFANIACOMMENT_FILE_LOCATION"
				filter="STRING"
				description="ZEFANIABIBLE_FIELD_UPLOAD_DIR_INFORMATION"
				type="cktext"/>

		<field name="upload_dir_zefaniabibledictionaryinfo_xml_file_url"
				label="ZEFANIABIBLE_FIELD_UPLOAD_DIR_DICTIONARYINFO_XML_FILE_URL"
				filter="STRING"
				description="ZEFANIABIBLE_FIELD_UPLOAD_DIR_INFORMATION"
				type="cktext"/>
	</fieldset>

	<fieldset name="permissions"
			label="ZEFANIABIBLE_CONFIG_PERMISSIONS"
			description="ZEFANIABIBLE_CONFIG_DEFAULT_PERMISSIONS_USED_FOR_ALL_CONTENT_IN_THIS_COMPONENT"
			addfieldpath="/administrator/components/com_zefaniabible/models/fields">

		<field name="rules"
				label="ZEFANIABIBLE_FIELD_PERMISSIONS"
				filter="rules"
				type="rules"
				validate="rules"
				section="component"
				component="com_zefaniabible"/>
	</fieldset>
</config>